src/main/app/dm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <data-mapper:config name="json_to_xml_grf" transformationGraphPath="json_to_xml.grf" doc:name="DataMapper"/>
    <data-mapper:config name="collection_map_to_xml_grf" transformationGraphPath="collection_map_to_xml.grf" doc:name="DataMapper"/>
    
    <flow name="dmFlow1" doc:name="dmFlow1">
        <quartz:inbound-endpoint repeatInterval="2000" repeatCount="0" responseTimeout="10000" doc:name="Quartz" jobName="j1">
            <quartz:event-generator-job>
                <quartz:payload file="example.json"/>
            </quartz:event-generator-job>
        </quartz:inbound-endpoint>
        <data-mapper:transform doc:name="DataMapper" config-ref="json_to_xml_grf"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger level="INFO" doc:name="Logger" message="payload flow1 #[payload]"/>
    </flow>
    
    <flow name="dmFlow2" doc:name="dmFlow2">
        <quartz:inbound-endpoint repeatInterval="2000" repeatCount="0" responseTimeout="10000" doc:name="Quartz" jobName="j2">
            <quartz:event-generator-job>
                <quartz:payload>empty</quartz:payload>
            </quartz:event-generator-job>
        </quartz:inbound-endpoint>
        <scripting:component doc:name="read file">
            <scripting:script engine="Groovy" file="example.groovy"/>
        </scripting:component>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[return [
		"patientid": payload[0]["patientid"],
		"values": payload
	]]]></scripting:script>
        </scripting:component>
        <data-mapper:transform doc:name="DataMapper" config-ref="collection_map_to_xml_grf"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger level="INFO" doc:name="Logger" message="payload flow2 #[payload]"/>
    </flow>
</mule>
