src/main/app/dm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd">
    <data-mapper:config name="json_to_xml_grf" transformationGraphPath="json_to_xml.grf" doc:name="DataMapper"/>
    <flow name="dmFlow1" doc:name="dmFlow1">
        <quartz:inbound-endpoint repeatInterval="2000" repeatCount="0" responseTimeout="10000" doc:name="Quartz" jobName="j1">
            <quartz:event-generator-job>
                <quartz:payload file="/Users/matiasjuan/Downloads/devel/workspaces/3.4.0/dm/src/test/resources/example.json"/>
            </quartz:event-generator-job>
        </quartz:inbound-endpoint>
        <data-mapper:transform doc:name="DataMapper" config-ref="json_to_xml_grf"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger level="INFO" doc:name="Logger" message="payload #[payload]"/>
    </flow>
</mule>
